<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
  <div class="profile">
    <div class="profile-pic"></div>
  </div>
  <div class="personal-information">
    <div class="name">{{ data.forename }} {{ data.surname }}</div>
    <div class="title">Software Engineer</div>
    <div class="contact-items">
      <div class="contact-item"><i class="icon-home3"></i> {{ data.contacts.address.city }}, {{ data.contacts.address.province }}</div>
      <div class="contact-item" *ngFor="let email of data.contacts.email"><i class="icon-envelop"></i> {{ email.recipient }}@{{ email.domain }}</div>
      <div class="contact-item" *ngFor="let phone of data.contacts.telephone"><i class="icon-phone"></i> +{{ phone.number.country }} ({{ phone.number.area}}) {{ phone.number.number }}</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="content-block">
    <div class="timeline">
      <h1>About Me</h1>
      <div class="timeline-item">
        <p *ngFor="let about of data.about" >{{ about }}</p>
      </div>
      <h1>Primary Skills</h1>
      <div class="timeline-item">
        <ul>
          <li *ngFor="let skill of data.skills"><strong>{{ skill.category }}</strong>: <span *ngFor="let s of skill.skills; index as i">{{ i !== 0 ? ', ' : '' }}{{s}}</span></li>
        </ul>
      </div>
     <h1>Professional Experience</h1>
      <div class="timeline-item" *ngFor="let job of data.experience">
        <div class="timeline-point"><div class="timeline-point-fill"></div></div>
        <h2>{{ job.title }}</h2>
        <h3><strong>{{ job.employer.name }}</strong>, {{ job.employer.location }}</h3>
        <h4>{{ job.startDate }} - {{ job.endDate ? job.endDate : "Present" }}</h4>
        <div class="pill-list"><span class="pill" *ngFor="let skill of job.skills">{{skill}}</span></div>
        <ul>
          <li *ngFor="let duty of job.mainDuties">{{ duty }}</li>
        </ul>
      </div>
      <h1>Education</h1>
      <div class="timeline-item" *ngFor="let edu of data.education">
        <div class="timeline-point"><div class="timeline-point-fill"></div></div>
        <h2>{{ edu.title }}</h2>
        <h3><strong>{{ edu.institution.name }}</strong>, {{ edu.institution.location }}</h3>
        <h4>{{ edu.startDate }} - {{ edu.endDate ? edu.endDate : "Present" }}</h4>
        <ul>
          <li *ngFor="let note of edu.notes">{{ note }}</li>
        </ul>
      </div>
      <h1>Personal Interests</h1>
      <ul>
        <li *ngFor="let hobby of data.hobbies">{{hobby}}</li>
      </ul>
    </div>
  </div>
</div>

