<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
  <div class="profile">
    <div class="profile-pic"></div>
  </div>
  <div class="personal-information">
    <div class="name">{{ data.forename }} {{ data.surname }}</div>
    <div class="title">Software Engineer</div>
    <div class="contact-items">
      <div class="contact-item"><i class="icon-home3"></i> {{ data.contacts.address.city }}, {{ data.contacts.address.province }}</div>
      <div class="contact-item" *ngFor="let email of data.contacts.email"><i class="icon-envelop"></i> {{ email.recipient }}@{{ email.domain }}</div>
      <div class="contact-item" *ngFor="let phone of data.contacts.telephone"><i class="icon-phone"></i> +{{ phone.number.country }} ({{ phone.number.area}}) {{ phone.number.number }}</div>
      <div class="contact-item" *ngFor="let link of data.contacts.links">
        <span *ngIf="link.type === 'github'"><i class="icon-github"></i> <a href="https://github.com/{{ link.value }}"> {{ link.value }} </a></span>
        <span *ngIf="link.type === 'linkedin'"><i class="icon-linkedin"></i> <a href="https://linkedin.com/in/{{ link.value }}"> {{ link.value }} </a></span>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <a href="/api/v1/pdf" class="download-button"><i class="icon-pdf"></i> Download PDF</a>
  <div class="content-block">
    <app-timeline [data]="data"
                  [languages]="languages"
                  [skills]="skills"
                  [interests]="hobbies"
                  [experience]="experience"
                  [education]="education"></app-timeline>
  </div>
</div>

